<header>
    <nav class="navbar navbar-light bg-faded">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['home']">Home</a>
            <a class="nav-item nav-link" [routerLink]="['observable']">Observables</a>
            <a class="nav-item nav-link" [routerLink]="['about']">About</a>
            <a class="nav-item nav-link" [routerLink]="['contact']">Contact</a>
        </div>
    </nav>
</header>
<main class="container-fluid m-t-1">
    <router-outlet></router-outlet>
</main>
